In [930]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [931]:
data_set = pd.read_csv("credit_train.csv")
data_set.info()
data_set.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  int64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  int64
 14  Number of Credit Problems     100000 non-null  int64
 15  Current Credit Balance        100000 non-null  int64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(8), int64(4), object(7)
memory usage: 14.5+ MB

(100000, 19)

In [932]:
data_set['Loan Status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [933]:
data_set

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35,0,229976,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9,0,256329,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15,0,253460,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,2da51983-cfef-4b8f-a733-5dfaf69e9281,Fully Paid,147070,Short Term,725.0,475437.0,7 years,Own Home,other,2202.86,22.3,NaN,5,0,47766,658548.0,0.0,0.0
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,Fully Paid,530332,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8,0,404225,738254.0,0.0,0.0
99999,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,Fully Paid,99999999,Short Term,743.0,935180.0,NaN,Own Home,Debt Consolidation,9118.10,13.0,NaN,4,1,45600,91014.0,1.0,0.0

In [934]:

del data_set['Years in current job']

data_set['Credit Score'].fillna(data_set['Credit Score'].median(),inplace=True)
data_set['Months since last delinquent'].fillna(data_set['Months since last delinquent'].median(),inplace=True)
data_set['Maximum Open Credit'].fillna(data_set['Maximum Open Credit'].median(),inplace=True)
data_set['Bankruptcies'].fillna(data_set['Bankruptcies'].median(),inplace=True)
data_set['Annual Income'].fillna(data_set['Annual Income'].median(),inplace=True)
 
data_set['Tax Liens'].fillna(data_set['Tax Liens'].median(),inplace=True)
data_set.dropna(inplace=True)

In [935]:
df=pd.get_dummies(data_set,columns=['Loan Status','Term','Home Ownership','Purpose'],drop_first=True)

In [936]:

df[0:5]

,Loan ID,Customer ID,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,445412,709.0,1167493.0,5214.74,17.2,32.0,6,1,...,0,0,0,0,0,0,0,0,0,0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,262328,724.0,1174162.0,33295.98,21.1,8.0,35,0,...,0,0,0,0,0,0,0,0,0,0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,...,0,0,0,0,0,0,0,0,0,0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,347666,721.0,806949.0,8741.90,12.0,32.0,9,0,...,0,0,0,0,0,0,0,0,0,0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,176220,724.0,1174162.0,20639.70,6.1,32.0,15,0,...,0,0,0,0,0,0,0,0,0,0

In [937]:

df=df.iloc[:,2:]

In [938]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Current Loan Amount           100000 non-null  int64
 1   Credit Score                  100000 non-null  float64
 2   Annual Income                 100000 non-null  float64
 3   Monthly Debt                  100000 non-null  float64
 4   Years of Credit History       100000 non-null  float64
 5   Months since last delinquent  100000 non-null  float64
 6   Number of Open Accounts       100000 non-null  int64
 7   Number of Credit Problems     100000 non-null  int64
 8   Current Credit Balance        100000 non-null  int64
 9   Maximum Open Credit           100000 non-null  float64
 10  Bankruptcies                  100000 non-null  float64
 11  Tax Liens                     100000 non-null  float64
 12  Loan Status_Fully Paid        100000 non-null  uint8
 13  Term_Short Term               100000 non-null  uint8
 14  Home Ownership_Home Mortgage  100000 non-null  uint8
 15  Home Ownership_Own Home       100000 non-null  uint8
 16  Home Ownership_Rent           100000 non-null  uint8
 17  Purpose_Buy House             100000 non-null  uint8
 18  Purpose_Buy a Car             100000 non-null  uint8
 19  Purpose_Debt Consolidation    100000 non-null  uint8
 20  Purpose_Educational Expenses  100000 non-null  uint8
 21  Purpose_Home Improvements     100000 non-null  uint8
 22  Purpose_Medical Bills         100000 non-null  uint8
 23  Purpose_Other                 100000 non-null  uint8
 24  Purpose_Take a Trip           100000 non-null  uint8
 25  Purpose_major_purchase        100000 non-null  uint8
 26  Purpose_moving                100000 non-null  uint8
 27  Purpose_other                 100000 non-null  uint8
 28  Purpose_renewable_energy      100000 non-null  uint8
 29  Purpose_small_business        100000 non-null  uint8
 30  Purpose_vacation              100000 non-null  uint8
 31  Purpose_wedding               100000 non-null  uint8
dtypes: float64(8), int64(4), uint8(20)
memory usage: 11.1 MB

In [939]:
x=df.drop('Loan Status_Fully Paid',axis=1)
y=df['Loan Status_Fully Paid']

In [940]:
x

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,445412,709.0,1167493.0,5214.74,17.2,32.0,6,1,228190,416746.0,...,0,0,0,0,0,0,0,0,0,0
1,262328,724.0,1174162.0,33295.98,21.1,8.0,35,0,229976,850784.0,...,0,0,0,0,0,0,0,0,0,0
2,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0,0,0,0,0,0,0,0,0,0
3,347666,721.0,806949.0,8741.90,12.0,32.0,9,0,256329,386958.0,...,0,0,0,0,0,0,0,0,0,0
4,176220,724.0,1174162.0,20639.70,6.1,32.0,15,0,253460,427174.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,147070,725.0,475437.0,2202.86,22.3,32.0,5,0,47766,658548.0,...,0,0,0,0,0,1,0,0,0,0
99996,99999999,732.0,1289416.0,13109.05,9.4,21.0,22,0,153045,509234.0,...,0,0,0,0,0,0,0,0,0,0
99997,103136,742.0,1150545.0,7315.57,18.8,18.0,12,1,109554,537548.0,...,0,0,0,0,0,0,0,0,0,0
99998,530332,746.0,1717524.0,9890.07,15.0,32.0,8,0,404225,738254.0,...,0,0,0,0,0,0,0,0,0,0
99999,99999999,743.0,935180.0,9118.10,13.0,32.0,4,1,45600,91014.0,...,0,0,0,0,0,0,0,0,0,0

In [941]:
y

0        1
1        1
2        1
3        1
4        1
        ..
99995    1
99996    1
99997    1
99998    1
99999    1
Name: Loan Status_Fully Paid, Length: 100000, dtype: uint8

In [942]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1/3, random_state=0)

In [943]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_model = RandomForestClassifier(n_estimators=100, random_state=0, class_weight='balanced')

In [944]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66666 entries, 75382 to 68268
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Current Loan Amount           66666 non-null  int64
 1   Credit Score                  66666 non-null  float64
 2   Annual Income                 66666 non-null  float64
 3   Monthly Debt                  66666 non-null  float64
 4   Years of Credit History       66666 non-null  float64
 5   Months since last delinquent  66666 non-null  float64
 6   Number of Open Accounts       66666 non-null  int64
 7   Number of Credit Problems     66666 non-null  int64
 8   Current Credit Balance        66666 non-null  int64
 9   Maximum Open Credit           66666 non-null  float64
 10  Bankruptcies                  66666 non-null  float64
 11  Tax Liens                     66666 non-null  float64
 12  Term_Short Term               66666 non-null  uint8
 13  Home Ownership_Home Mortgage  66666 non-null  uint8
 14  Home Ownership_Own Home       66666 non-null  uint8
 15  Home Ownership_Rent           66666 non-null  uint8
 16  Purpose_Buy House             66666 non-null  uint8
 17  Purpose_Buy a Car             66666 non-null  uint8
 18  Purpose_Debt Consolidation    66666 non-null  uint8
 19  Purpose_Educational Expenses  66666 non-null  uint8
 20  Purpose_Home Improvements     66666 non-null  uint8
 21  Purpose_Medical Bills         66666 non-null  uint8
 22  Purpose_Other                 66666 non-null  uint8
 23  Purpose_Take a Trip           66666 non-null  uint8
 24  Purpose_major_purchase        66666 non-null  uint8
 25  Purpose_moving                66666 non-null  uint8
 26  Purpose_other                 66666 non-null  uint8
 27  Purpose_renewable_energy      66666 non-null  uint8
 28  Purpose_small_business        66666 non-null  uint8
 29  Purpose_vacation              66666 non-null  uint8
 30  Purpose_wedding               66666 non-null  uint8
dtypes: float64(8), int64(4), uint8(19)
memory usage: 7.8 MB

In [945]:
rf_model.fit(x_train, y_train)

y_pred_rf = rf_model.predict(x_test)

accuracy_rf = accuracy_score(y_test, y_pred_rf)
print("Точность модели случайного леса:", accuracy_rf)

Точность модели случайного леса: 0.8183536329273414

In [946]:
data_set2 = pd.read_csv("credit_test.csv")

data_set2

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9,0,621908,1058970,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11,0,679573,904442,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10,0,38532,388036,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16,1,156940,531322,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14,0,359765,468072,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,c4ab66f9-833c-43b8-879c-4f8bcb64dd14,8ee2002b-8fb6-4af0-ab74-25a1c23e7647,157806,Short Term,731.0,1514376.0,6 years,Rent,Debt Consolidation,4795.41,12.5,NaN,9,0,87058,234410,0.0,0.0
9996,bbd3a392-01b4-4e0e-9c28-b2a4a39beac7,6c306306-f5c2-4db5-b74a-af2895123ecb,132550,Short Term,718.0,763192.0,4 years,Home Mortgage,Debt Consolidation,12401.87,9.9,20.0,8,0,74309,329692,0.0,0.0
9997,da9870de-4280-46a3-8fc6-91cfe5bfde9d,cc94e25e-1060-4465-b603-194e122f0239,223212,Long Term,NaN,NaN,NaN,Rent,Debt Consolidation,4354.42,27.2,NaN,8,1,99636,568370,1.0,0.0
9998,0cc8e0e0-1bc6-49d7-ad0f-0598b647458f,f90cf410-a34b-49e7-8af9-2b405e17b827,99999999,Short Term,721.0,972097.0,10+ years,Home Mortgage,Debt Consolidation,12232.20,16.8,24.0,8,1,184984,240658,0.0,0.0
9999,14f94b64-26c4-48fd-b916-1388d7adcc1d,f1838fa9-7ad9-44d5-97a6-7a6d3f3529d7,99999999,Short Term,748.0,1079960.0,6 years,Home Mortgage,Debt Consolidation,12239.61,19.7,NaN,14,0,179018,607882,0.0,0.0

In [947]:
del data_set2['Years in current job']

data_set2['Credit Score'].fillna(data_set['Credit Score'].median(),inplace=True)
data_set2['Months since last delinquent'].fillna(data_set['Months since last delinquent'].median(),inplace=True)
data_set2['Maximum Open Credit'].fillna(data_set['Maximum Open Credit'].median(),inplace=True)
data_set2['Bankruptcies'].fillna(data_set['Bankruptcies'].median(),inplace=True)
data_set2['Annual Income'].fillna(data_set['Annual Income'].median(),inplace=True)
 
data_set2['Tax Liens'].fillna(data_set['Tax Liens'].median(),inplace=True)
data_set2.dropna(inplace=True)

In [948]:
df2=pd.get_dummies(data_set2,columns=['Term','Home Ownership','Purpose'],drop_first=True)

In [949]:
df2

,Loan ID,Customer ID,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,747.0,2074116.0,42000.83,21.8,32.0,9,0,...,0,0,0,0,0,0,0,0,0,0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662,734.0,1919190.0,36624.40,19.4,32.0,11,0,...,0,0,0,0,0,0,0,0,0,0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494,709.0,871112.0,8391.73,12.5,10.0,10,0,...,0,0,0,0,0,0,0,0,0,0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242,727.0,780083.0,16771.87,16.5,27.0,16,1,...,0,0,0,0,0,0,0,0,0,0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992,744.0,1761148.0,39478.77,26.0,44.0,14,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,c4ab66f9-833c-43b8-879c-4f8bcb64dd14,8ee2002b-8fb6-4af0-ab74-25a1c23e7647,157806,731.0,1514376.0,4795.41,12.5,32.0,9,0,...,0,0,0,0,0,0,0,0,0,0
9996,bbd3a392-01b4-4e0e-9c28-b2a4a39beac7,6c306306-f5c2-4db5-b74a-af2895123ecb,132550,718.0,763192.0,12401.87,9.9,20.0,8,0,...,0,0,0,0,0,0,0,0,0,0
9997,da9870de-4280-46a3-8fc6-91cfe5bfde9d,cc94e25e-1060-4465-b603-194e122f0239,223212,724.0,1174162.0,4354.42,27.2,32.0,8,1,...,0,0,0,0,0,0,0,0,0,0
9998,0cc8e0e0-1bc6-49d7-ad0f-0598b647458f,f90cf410-a34b-49e7-8af9-2b405e17b827,99999999,721.0,972097.0,12232.20,16.8,24.0,8,1,...,0,0,0,0,0,0,0,0,0,0
9999,14f94b64-26c4-48fd-b916-1388d7adcc1d,f1838fa9-7ad9-44d5-97a6-7a6d3f3529d7,99999999,748.0,1079960.0,12239.61,19.7,32.0,14,0,...,0,0,0,0,0,0,0,0,0,0

In [950]:
df2=df2.iloc[:,2:]

In [951]:
x=df2

In [952]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Current Loan Amount           10000 non-null  int64
 1   Credit Score                  10000 non-null  float64
 2   Annual Income                 10000 non-null  float64
 3   Monthly Debt                  10000 non-null  float64
 4   Years of Credit History       10000 non-null  float64
 5   Months since last delinquent  10000 non-null  float64
 6   Number of Open Accounts       10000 non-null  int64
 7   Number of Credit Problems     10000 non-null  int64
 8   Current Credit Balance        10000 non-null  int64
 9   Maximum Open Credit           10000 non-null  int64
 10  Bankruptcies                  10000 non-null  float64
 11  Tax Liens                     10000 non-null  float64
 12  Term_Short Term               10000 non-null  uint8
 13  Home Ownership_Home Mortgage  10000 non-null  uint8
 14  Home Ownership_Own Home       10000 non-null  uint8
 15  Home Ownership_Rent           10000 non-null  uint8
 16  Purpose_Buy House             10000 non-null  uint8
 17  Purpose_Buy a Car             10000 non-null  uint8
 18  Purpose_Debt Consolidation    10000 non-null  uint8
 19  Purpose_Educational Expenses  10000 non-null  uint8
 20  Purpose_Home Improvements     10000 non-null  uint8
 21  Purpose_Medical Bills         10000 non-null  uint8
 22  Purpose_Other                 10000 non-null  uint8
 23  Purpose_Take a Trip           10000 non-null  uint8
 24  Purpose_major_purchase        10000 non-null  uint8
 25  Purpose_moving                10000 non-null  uint8
 26  Purpose_other                 10000 non-null  uint8
 27  Purpose_renewable_energy      10000 non-null  uint8
 28  Purpose_small_business        10000 non-null  uint8
 29  Purpose_vacation              10000 non-null  uint8
 30  Purpose_wedding               10000 non-null  uint8
dtypes: float64(7), int64(5), uint8(19)
memory usage: 1.1 MB

In [953]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66666 entries, 75382 to 68268
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Current Loan Amount           66666 non-null  int64
 1   Credit Score                  66666 non-null  float64
 2   Annual Income                 66666 non-null  float64
 3   Monthly Debt                  66666 non-null  float64
 4   Years of Credit History       66666 non-null  float64
 5   Months since last delinquent  66666 non-null  float64
 6   Number of Open Accounts       66666 non-null  int64
 7   Number of Credit Problems     66666 non-null  int64
 8   Current Credit Balance        66666 non-null  int64
 9   Maximum Open Credit           66666 non-null  float64
 10  Bankruptcies                  66666 non-null  float64
 11  Tax Liens                     66666 non-null  float64
 12  Term_Short Term               66666 non-null  uint8
 13  Home Ownership_Home Mortgage  66666 non-null  uint8
 14  Home Ownership_Own Home       66666 non-null  uint8
 15  Home Ownership_Rent           66666 non-null  uint8
 16  Purpose_Buy House             66666 non-null  uint8
 17  Purpose_Buy a Car             66666 non-null  uint8
 18  Purpose_Debt Consolidation    66666 non-null  uint8
 19  Purpose_Educational Expenses  66666 non-null  uint8
 20  Purpose_Home Improvements     66666 non-null  uint8
 21  Purpose_Medical Bills         66666 non-null  uint8
 22  Purpose_Other                 66666 non-null  uint8
 23  Purpose_Take a Trip           66666 non-null  uint8
 24  Purpose_major_purchase        66666 non-null  uint8
 25  Purpose_moving                66666 non-null  uint8
 26  Purpose_other                 66666 non-null  uint8
 27  Purpose_renewable_energy      66666 non-null  uint8
 28  Purpose_small_business        66666 non-null  uint8
 29  Purpose_vacation              66666 non-null  uint8
 30  Purpose_wedding               66666 non-null  uint8
dtypes: float64(8), int64(4), uint8(19)
memory usage: 7.8 MB

In [954]:
y_pred_rf2 = rf_model.predict(x)

In [955]:
y_pred_rf2

array([1, 1, 1, ..., 0, 1, 1], dtype=uint8)

In [956]:
final = pd.DataFrame(y_pred_rf2)

In [957]:
final

      0
0     1
1     1
2     1
3     1
4     1
...  ..
9995  1
9996  1
9997  0
9998  1
9999  1

[10000 rows x 1 columns]

In [958]:
data_set2

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,Short Term,747.0,2074116.0,Home Mortgage,Debt Consolidation,42000.83,21.8,32.0,9,0,621908,1058970,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662,Short Term,734.0,1919190.0,Home Mortgage,Debt Consolidation,36624.40,19.4,32.0,11,0,679573,904442,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494,Short Term,709.0,871112.0,Rent,Debt Consolidation,8391.73,12.5,10.0,10,0,38532,388036,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242,Short Term,727.0,780083.0,Rent,Debt Consolidation,16771.87,16.5,27.0,16,1,156940,531322,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992,Short Term,744.0,1761148.0,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14,0,359765,468072,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,c4ab66f9-833c-43b8-879c-4f8bcb64dd14,8ee2002b-8fb6-4af0-ab74-25a1c23e7647,157806,Short Term,731.0,1514376.0,Rent,Debt Consolidation,4795.41,12.5,32.0,9,0,87058,234410,0.0,0.0
9996,bbd3a392-01b4-4e0e-9c28-b2a4a39beac7,6c306306-f5c2-4db5-b74a-af2895123ecb,132550,Short Term,718.0,763192.0,Home Mortgage,Debt Consolidation,12401.87,9.9,20.0,8,0,74309,329692,0.0,0.0
9997,da9870de-4280-46a3-8fc6-91cfe5bfde9d,cc94e25e-1060-4465-b603-194e122f0239,223212,Long Term,724.0,1174162.0,Rent,Debt Consolidation,4354.42,27.2,32.0,8,1,99636,568370,1.0,0.0
9998,0cc8e0e0-1bc6-49d7-ad0f-0598b647458f,f90cf410-a34b-49e7-8af9-2b405e17b827,99999999,Short Term,721.0,972097.0,Home Mortgage,Debt Consolidation,12232.20,16.8,24.0,8,1,184984,240658,0.0,0.0
9999,14f94b64-26c4-48fd-b916-1388d7adcc1d,f1838fa9-7ad9-44d5-97a6-7a6d3f3529d7,99999999,Short Term,748.0,1079960.0,Home Mortgage,Debt Consolidation,12239.61,19.7,32.0,14,0,179018,607882,0.0,0.0

In [959]:
dff = pd.concat([data_set2['Loan ID'], final[0]], axis=1)

In [960]:
print(dff.columns)

Index(['Loan ID', 0], dtype='object')

In [961]:
dff[0]= dff[0].apply(lambda x:'Fully Paid' if x>0 else 'Charged Off')

In [963]:
dff.columns=['Loan ID','Loan Status']

In [964]:
dff

                                   Loan ID  Loan Status
0     f738779f-c726-40dc-92cf-689d73af533d   Fully Paid
1     6dcc0947-164d-476c-a1de-3ae7283dde0a   Fully Paid
2     f7744d01-894b-49c3-8777-fc6431a2cff1   Fully Paid
3     83721ffb-b99a-4a0f-aea5-ef472a138b41   Fully Paid
4     08f3789f-5714-4b10-929d-e1527ab5e5a3   Fully Paid
...                                    ...          ...
9995  c4ab66f9-833c-43b8-879c-4f8bcb64dd14   Fully Paid
9996  bbd3a392-01b4-4e0e-9c28-b2a4a39beac7   Fully Paid
9997  da9870de-4280-46a3-8fc6-91cfe5bfde9d  Charged Off
9998  0cc8e0e0-1bc6-49d7-ad0f-0598b647458f   Fully Paid
9999  14f94b64-26c4-48fd-b916-1388d7adcc1d   Fully Paid

[10000 rows x 2 columns]

In [965]:
dff.to_csv('final.csv', index=False)